<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <title>Rebooting</title>
</head>
<body>
<main class="container">
<h1>Rebooting</h1>
<p>
  Returning to main page in <span id="countdown">10</span> seconds
</p>
<progress id="progress" value="0" max="10"></progress>
<script type="text/javascript">
  var seconds = 10;
  function countdown() {
    seconds = seconds - 1;
    if (seconds < 0) {
      window.location = "/";
    } else {
      document.getElementById("countdown").innerHTML = seconds;
      document.getElementById("progress").value = 10 - seconds;
      window.setTimeout("countdown()", 1000);
    }
  }
  countdown();
</script>
</main>
</body>
</html>
